body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    color: darkslategray;
}

img {
    width: 200px;  /* Sesuaikan ukuran */
    height: 200px; /* Pastikan tinggi & lebar sama */
    object-fit: cover; /* Menjaga proporsi gambar */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    margin-top: 20px;
    border: 4px solid white; /* Tambahkan border jika ingin */
}


.btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: red;
    transform: scale(1.1);
}